/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 0%;
    height: 0%;
}
body {
    
    min-height: 100vh !important;
    background-color: #e2e8f0 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  #app-root{
    min-height: 100% !important;
  }
  .display {
    /* display: none;
    transition: 5s; */
  }
  .openbtn {
    /* display: none; */
    /* background-color: #e2e8f0; */
    /* background-color: rebeccapurple; */
    /* position: fixed; */
    /* top: 0px;
    left: 268px; */
    /* width: 50px; */
    /* font-size: 20px; */
    /* cursor: pointer;
    border: none;
    opacity: 0;
    padding: 0px!important; */
  }
  
  /* .openbtn:hover {
    background-color: #444;
    opacity: 1000000 !important;

  } */

  
  /* 
  !Стили для всего файла(с открытым/скрытым меню)
  Уведомления
  Получать папки с фотками
  Оформлять отчет
  Получать видеопоток
  Изменять данные пользователя
    */

    