<div id=container class="page-container" data-sidebar-toggle="show">
    <div class="content-wrap">
        <div id="row-class" class="row color">
            <!-- <button class="openbtn" (click)="switchSideBar(false)">☰</button> -->
            <!-- APP-SIDEBAR style="width: 15%;" -->
            <div id="app-sidebar" class="sizeSidebar" >
                <app-sidebar (sideBarButtonClicked)="switchSideBar()"></app-sidebar>
            </div>
            <!-- CONTENT style="width: 85%;" -->
            <div id="content" class="sizeContent content" >
                <app-btn id="openbtn"  (sideBarButtonClicked)="switchSideBar()" ></app-btn>
                <span lang=""></span>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div >