.color{
    background-color: #e2e8f0;
    // height: 100%;
}
.content{

    // padding: 10px 15px;
    position: relative;
    // width: 100%;
    // height: 100%;
}
.openbtn {
    //display: none;
    position: fixed;
    top: 0px;
    left: 266px;
    width: 50px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    opacity: 100000;
  }
  
  .openbtn:hover {
    background-color: #444;
  }